<div class="center topic rounded">
    <p>
    Pregunta: <%= question.question %> 
    Tipo de pregunta: <%= question.question_type %> 
    <%= link_to 'Mostrar', question_path(question), class: 'btn btn-primary' %>
    </p>
</div>