<div class="col-xs-1 col-md-3 elem rounded">
  <p class="center">Nombre: <%= clip.clipName %></p>
  <p class="center">Usuario: <%= clip.uploadUser %></p>
  <p class="center"><%= link_to 'Video', clip, class: ' center btn btn-primary' %></p>
</div>
