<div class="col-3">
  <br>
  <div class="p-3 mb-2 bg-secondary text-white rounded">
    <p>Nombre: <%= clip.clipName %></p>
    <p>Usuario: <%= clip.uploadUser %></p>
    <p class="center"><%= link_to 'Video', clip, class: ' center btn btn-primary' %></p>
  </div>
</div>
