<%= stylesheet_link_tag 'users' %>
<div class="container form_padding">
  <br>
  <div class="form-group">
      <h1>Add Topic</h1>
      <p class="custom-select">
        <p>Topics</p><br>
        <% @topics.each do |t| %>
          <div class="m-4 p-3 bg-secondary text-white">
            <%= t['description'] %>
            <%= link_to 'Añadir', add_topic_post_path(:topic => t['id']), class: 'btn btn-primary' %>
          </div>   
        <% end %>
      </p>
  </div>
</div>