<div class="center topic rounded">
    <p><%= topic.description %></p>
    <div class="center">
      <%= link_to 'Editar', edit_topic_path(topic), class: 'btn btn-primary' %>
      <%= button_to 'Eliminar', topic_path(topic), method: :delete, class: 'btn btn-primary' %>
    </div>
</div>