<%= stylesheet_link_tag 'users' %>
<body>
  <div class="center">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success alert-dismissible d-inline-block" role="alert">
        <!--<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>-->
        <%= msg %>
      </div>
    <% end %>
    <% flash.delete(:alert) %>
  </div>
  <div class="center offset-top">
    <h1>¡Bienvenido!</h1>
    <!--<div class="row">-->
      <div class="col-md-6 offset-md-3">
        <%= link_to 'Login', '/login', method: :get, class: 'btn btn-primary' %>
        <%= link_to 'Sign Up', '/users/new', method: :get, class: 'btn btn-primary' %>
      </div>
    <!--</div>-->
  </div>
</body>
