<div class="col-xs-1 col-md-3 elem rounded">
    <p>Nombre: <%= user.name %></p>
    <p>Apellidos: <%= user.surname %></p>
    <p>E-mail: <%= user.email %></p>
    <p class="center"><%= link_to 'Edit', edit_user_path(user), class: 'btn btn-primary' %></p>
</div>
