<div class="col-xs-1 col-md-3 elem rounded">
    <p>Nombre: <%= activity.name %></p>
    <p>Responsable: <%= activity.responsible %></p>
    <div class="center">
      <%= link_to 'Mostrar', activity_path(activity), class: 'btn btn-primary' %>
      <%= button_to 'Eliminar', activity_path(activity), method: :delete, class: 'btn btn-primary' %>
    </div>
</div>