<%= stylesheet_link_tag 'users' %>
    <br>
    <div class="form-group">
      <%= form_tag '/add_question' do %>
        <% flash.each do |type, msg| %>
          <div class="alert alert-danger alert-dismissible d-inline-block" role="alert">
            <%= msg %>
          </div> 
        <% end %>
        <% flash.delete(:alert) %>
        <h2>Pregunta abierta</h2>
          <p>
            <%= submit_tag 'Añadir Pregunta', class: 'btn btn-primary' %>
          </p>
      <% end %>
    </div>